<h1><%= @cocktail.name %></h1>
<h3>Ingredients:</h3>

<% @cocktail.ingredients.each do |ingredient| %>
  <div>
    <%= ingredient.name %>
    <% ingredient.doses.each do |dose| %>
      <%= dose.description %>
      <%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: "Are you sure?"} %>
    <% end %>
  </div>
<% end %>

<hr>

<p>Add a dose</p>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit %>
  <% end %>


<%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete  %> |
<%= link_to "Back", cocktails_path  %>